* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #171823;
}

.header {
    height: 220px;
    background: url(images/bg-desktop-dark.jpg) center top / 400% no-repeat;
}

.title-todo {
    display: flex;
    justify-content: space-between;
    color: #fff;
    letter-spacing: 10px;
    padding: 50px 25px 0 25px; 
    text-shadow: 2px 2px 0px black, -1px -1px 0px black, -1px 3px 0px black, 1px -1px 0px black;
}

.tasks img:hover {
    transform: scale(1.3);
    transition: .3s;
    cursor: pointer;
}

.new-task {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    height: 50px;
    width: 330px;
    margin: 40px auto 0 auto;
    background-color: #25273D;
    border-radius: 8px;
}

.main-button {
    margin: auto 15px auto 20px;
    width: 20px;
    height: 20px;
    border: 1px solid hsl(234, 39%, 85%);
    border-radius: 50%;
    background: #25273D;
}

.new-task-button {
    margin: auto 15px auto 20px;
    width: 25px;
    height: 20px;
    border: 1px solid hsl(234, 39%, 85%);
    border-radius: 50%;
    background: #25273D;
    outline: none;
}

.new-task-button:hover {
    transform: scale(1.3);
    transition: .3s;
    cursor: pointer;
}

.new-task-input {
    font-family: 'Josefin Sans', sans-serif;
    border: none;
    width: 270px;
    height: 80%;
    background: #25273D;
    color: #767992;
}

.main{
    display: flex;
    justify-content: center;
    position: relative;
}

.task-list {
    display: grid;
    position: relative;
    color: #767992;
    margin-top: -20px;
    background-color: #25273D;
    width: 330px;
    border-radius: 8px;
    z-index: 1;
}

.task-list div {
    display: flex;
    align-items: center;
    width: 95%;
    height: 50px;
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.footer-elements{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 330px;
    height: 50px;
    background-color: #25273D;
    margin-bottom: 40px;
    z-index: 2;
}

.footer-elements a {
    font-weight: 700;
    text-decoration: none;
    color: hsl(235, 19%, 35%);
    
}

.footer-elements a:hover {
    color: hsl(236, 9%, 61%);
    cursor: pointer;
}

footer a:focus {
    outline: none;
    color: hsl(220, 98%, 61%)
}

.mode-ligth {
    display: none;
}

.new-task-input:focus {
    outline: none;
   }

@media only screen and (min-width : 600px) {
    .header {
        height: 300px;
        background: url(images/bg-desktop-dark.jpg) center center / cover no-repeat;
    }
}